
body {
	background-image: url(../assets/img/bg-img/bg6.png);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Nunito', sans-serif;
}

h2 {
	font-weight: 800!important;
}

.form-control {
	font-size: 1.2rem;
}

.head-text-1 {
	font-weight: 800!important;
	color: #662D91;
}

.cstm-link {
	font-weight: 800;
	text-decoration: underline;
	color: blue;
}

.bg-primary {
    background-color: rgba( 255, 255, 255, 0.95) !important;
}

.btn-icon-only {
	width: 3.575rem;
	height: 3.575rem
}

.w8-800 {
	font-weight: 800;
}

.btn-icon-only span, .btn-icon-only i {
    position: absolute;
    font-size: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fnt-18 {
	font-size: 18px;
}

.fnt-20 {
	font-size: 20px;
}

.services-header-txt {
	text-align: center;
	font-size: 20px;
	margin: 4% 20% 0% 20%;
}

.btn-food {
	background-color: #FF9000;
	color: white;
	border-color: #FF9000;
}

.btn-drinks {
	background-color: #662D91;
	color: white;
	border-color: #662D91;
}

.card {
	background-color: rgba( 255, 255, 255, 0.95)!important;
	backdrop-filter: blur(10px);
}

.cstm-hero-btn {
	border-radius: 30px;
	letter-spacing: 0px;
	font-size: 24px!important;
	background-color: #FFD800;
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	border-color: #FFD800;
	color: black;
	padding: 0.875rem 3rem;
}

.cstm-mv-rght {
	margin-left: auto;
}

.cstm-mgn-tp-5pc {
	margin-top: 5%;
}

.navbar-theme-primary:not(.navbar-transparent) {
	background-color: #fafbfedb;
	backdrop-filter:blur(10px);
	border-radius: 0px 0px 12px 12px;
}




.cstm-glss-wrds {
	margin-top: -5%;
	font-family: 'Nunito', sans-serif;
	padding: 5px 25px;
	letter-spacing: -1px;
	color: #662D91;
	font-weight: 900;
	width: max-content;
	background-color: rgba( 255, 255, 255, 0.8);
	border: 0.0625rem solid #D1D9E6;
	border-radius: 0.55rem;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
    
}

.btn {
	box-shadow: 3px 3px 6px #22222270, -3px -3px 6px #ffffff00;
}

.cstm-glass-bg {
    font-size: 0.875rem;
    color: #44476A;
    text-align: left;
    background-color: rgba( 255, 255, 255, 0.75);
    backdrop-filter: blur(15px);
    background-clip: padding-box;
    border-radius: 0.55rem;
    margin-top: 2%;
    box-shadow: 27px 28px 45px #222222a6, -6px -6px 12px #26283300;
}

.header-image-cstm {
	filter: drop-shadow(3px 0px 10px black);
	max-width: 110%;
	animation: animate 5s linear infinite;
}@keyframes animate {
	0%,100% {
		transform: translateY(-20px);
	} 50% {
		transform: translateY(50px);
	}
}


.shadow-soft {
	box-shadow: 27px 28px 45px #222222a6, -6px -6px 12px #26283300!important;
}

.cstm-glass-sm {
	background-color: rgba( 255, 255, 255, 0.75);
	border: 0.0625rem solid #d1d9e64f;
	border-radius: 0.55rem;
	backdrop-filter: blur(15px);
    box-shadow: 20px 16px 12px #2222222e, -6px -6px 12px rgb(38 40 51 / 0%);
    margin-top: 25%;
    padding: 30px 20px;
    margin-left: -12%;
    margin-right: 15%;
}

.hero-main-text {
	font-weight: 900;
	font-family: 'Nunito', sans-serif;
	font-size: 40px;
	letter-spacing: -1px;
	color: #662D91;
}

.hero-helper-text {
	font-size: 22px;
	font-weight: 400;
	font-family: 'Nunito', sans-serif;
	color: #FF5300;
}


.icon.icon-shape {
    width: 80%;
    margin-top: 20%;
    height: 5.5rem;
}

.navbar-brand img {
  height: 72px;
}

.navbar {
  padding: unset;
}


@media only screen and (max-width: 1200px) {
  .cstm-glass-sm {
    margin-top: 10%;
  }
}


@media only screen and (max-width: 992px) {
  .hero-main-text {
    font-size:25px!important;
  }
  .hero-helper-text {
    font-size: 18px;
  }
  .cstm-hero-btn {
    font-size: 20px!important;
  }
}

@media only screen and (max-width: 767px) {
  .hero-main-text {
    font-size:20px!important;
  }
  .hero-helper-text {
    font-size: 14px;
    line-height: 1.1;
  }
  .cstm-hero-btn {
    font-size: 16px!important;
    padding: 8px 30px;
  }
  .cstm-glass-sm {
    padding: 30px 15px;
    margin-top: 3%!important;
  }
  .hide-sm {
    display: none;
  }
  .services-header-txt {
    font-size: 14px;
  }
  h1, .h1 {
    font-size: calc(0.775rem + 1.5vw);
  }
  .fnt-18 {
    font-size: 13px;
  }
  .btn-icon-only {
    width: 2.575rem;
    height: 2.575rem;
  }
  .h4, .h4 {
    font-size: 20px;
  }
  .fnt-20 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  .cstm-inline-block {
    display: inline-block;
  }
}


@media only screen and (max-width: 576px) {
  .hero-main-text {
    font-size:25px!important;
    padding-bottom: 15px;
  }
  .hero-helper-text {
    font-size: 18px;
    padding-bottom: 15px;
  }
  .header-image-cstm {
    max-width: 180%;
  }
  .cstm-hero-btn {
    font-size: 20px!important;
  }
  .cstm-glass-sm {
    margin: unset;
    background-color: rgba( 255, 255, 255, 0);
    border: unset;
    padding: 30px;
  }
  .cstm-d-abs {
    position: absolute;
    z-index: -1;
  }

}